* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/** BACK TO TOP BUTTON **/
.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 50%;
    background: #171796;
    padding: 10px;
    border: none;
    cursor: pointer;
    opacity: 100%;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.back-to-top i {
    position: relative;
    font-size: 19px;
    color: #fff;
    top: 0;
    transition: top ease 0.5s;
}

.back-to-top:hover i {
    top: -10px;
}

.hidden {
    opacity: 0;
}

@media (max-width: 820px) {
    .back-to-top {
        right: 1rem;
    }
}

/* NAVIGATION */
.nav-container {
    width: 100%;
    background: #f1f1f1;
    position: fixed;
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 85%;
    margin: 0 auto;
}

#navbar-logo {
    width: 45%;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-menu a {
    position: relative;
    color: #171796;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 2s ease-in;
    padding-bottom: 5px;
}

.nav-menu a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background: transparent;
}

.nav-links:after {
    transition: width .5s ease, background-color .5s ease, left .5s ease;
}

.nav-links:hover:after {
    width: 100%;
    left: 0;
    background: #171796;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #171796;
}

@media (max-width: 1024px) {
    .navbar {
        width: 100%;
    }
}

@media (max-width: 820px) {
    .nav-container {
        position: relative;
    }

    .nav-menu {
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    #navbar-logo {
        margin-left: 20px;
    }

    .nav-menu.active {
        background: #f1f1f1;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background: #ccc;
        color: #171796;
        transition: all 0.4s ease-out;
    }

    .navbar {
        width: 100%;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 600px) {
    #navbar-logo {
        width: 100%;
    }
}

/* HEADER SECTION */
header {
    background: url('../img/bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1, h3 {
    color: #fff;
}

header h1 {
    font-size: 3rem;
}

header h3 {
    margin-top: 25px;
    font-size: 2rem;
    font-weight: 300;
}

.header-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    transform: translateY(80px);
    padding: 0;
    height: auto;
}

.images {
    margin: 2px;
    position: relative;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0,0.8);
    cursor: pointer;
}

.images img {
    width: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

@media (max-width: 1024px) {
    .header-images {
        max-width: 950px;
    }
}

@media (max-width: 820px) {
    header h1 {
        font-size: 4rem;
    }

    header h3 {
        padding: 0 25px;
        text-align: center;
    }

    .header-images {
        max-width: 725px;
        transform: translateY(60px);
    }
}

@media (max-width: 600px) {
    header h1 {
        text-align: center;
    }

    .header-images {
        max-width: 350px;
        transform: translateY(30px);
    }
}

/* ABOUT SECTION */
#about {
    padding: 25px;
}

.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-info {
    width: 50%;
    padding: 25px;
}

.about-info h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.about-info p {
    margin-top: 25px;
    line-height: 25px;
}

.about-info .btn {
    position: relative;
    margin: 15px 0;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #171796;
    color: #fff;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.about-info .btn::after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 10px;
    right: -5px;
    transition: 0.5s;
}

.about-info .btn:hover {
    padding-right: 34px;
    padding-left: 8px;
}

.about-info .btn:hover::after {
    opacity: 1;
    right: 10px;
}

@media (max-width: 820px) {
    .about-section {
        flex-direction: column;
    }

    .about-info {
        width: 75%;
    }
}

@media (max-width: 600px) {
    .about-info {
        width: 100%;
    }

    .about-img img {
        width: 100%;
    }
}

/* MODAL */
.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.5);
    display: none;
}

.modal-content {
    background: #171796;
    color: #fff;
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.close-btn {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 1.5rem;
    z-index: 1;
}

.close-btn:hover {
    cursor: pointer;
    transition: 0.2s ease-out;
}

.modal-content-left {
    background: #fff;
    position: relative;
}

#modal-img {
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modal-content-right {
    position: relative;
}

.modal-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-form h1 {
    font-size: 1rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
}

.form-validation {
    margin-bottom: 0.5rem;
    width: 80%;
}

.form-validation.error {
    margin-bottom: 1.5rem;
    position: relative;
    border-radius: 2px;
}

.form-validation.valid {
    margin-bottom: 0.5rem;
    position: relative;
    border-radius: 2px;
}

.form-validation p {
    font-size: 0.7rem;
    margin-top: 0.5rem;
    position: absolute;
    top: 1.8rem;
}

.form-validation.error a {
    display: block;
}

.modal-input {
    display: block;
    padding-left: 0.5rem;
    outline: none;
    border-radius: 2px;
    border: none;
    height: 2rem;
    width: 100%;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
}

.modal-input::placeholder {
    color: #000;
}

.modal-input-btn {
    width: 80%;
    height: 2rem;
    border-radius: 2px;
    outline: none;
    border: none;
    font-size: 1rem;
}

.modal-input-btn:hover {
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.modal-input-login {
    font-size: 0.8rem;
    margin-top: 1rem;
    width: 80%;
    text-align: center;
}

.modal-input-login a {
    text-decoration: none;
    font-size: 600;
}

/** Media Queries **/
@media (max-width: 820px) {
    .modal-content-left {
        display: none;
    }

    .modal-content {
        grid-template-columns: auto;
        margin: 15% auto;
        width: 70%;
        height: 45%;
    }
}

@media (max-width: 580px) {
    .modal-content {
        margin: 20% auto;
        width: 90%;
        height: 80%;
    }
}

/* PRODUCTS SLIDER SECTION */
#slider {
    background: linear-gradient(178.6deg, rgb(0, 0, 128) 11.8%, rgb(115, 147, 179) 83.8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 0;
}

#slider h1 {
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}

.gallery {
    width: 100%;
}

.gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.gallery-item {
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background: #fff;
    background-size: contain;
}

.gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4 {
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}

.gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
}

.gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

#gallery-text {
    text-align: center;
    font-size: 2rem;
}

.gallery-controls {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.gallery-controls-button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
}

.gallery-controls-previous::before {
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-previous:hover::before {
    left: -40px;
}

.gallery-controls-next {
    position: relative;
}

.gallery-controls-next::before {
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-next:hover:before {
    right: -40px;
}

.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery-nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background: #555;
}

@media (max-width: 1024px) {
    .gallery-container {
        max-width: 90%;
    }
}

@media (max-width: 820px) {
    .gallery-container {
        max-width: 75%;
    }
}

@media (max-width: 600px) {
    .gallery-container {
        max-width: 60%;
    }

    .gallery-item {
        max-width: 100%;
        height: auto;
    }
}

/* SERVICES SECTION */
#services {
    background: url('../img/graylight.png') no-repeat center center/cover;
    padding-top: 25px;
    padding-bottom: 35px;
}

#services h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}

#services .services-messege {
    text-align: center;
    margin: 25px 0;
    font-size: 1.2rem;
}

#services .btn {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #171796;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

#services .btn a {
    text-decoration: none;
    color: #fff;
}

#services .btn::after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 10px;
    right: -5px;
    transition: 0.5s;
    color: #fff;
}

#services .btn:hover {
    padding-right: 34px;
    padding-left: 8px;
}

#services .btn:hover::after {
    opacity: 1;
    right: 10px;
}

.services-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 35px;
}

.services-section .card {
    background: #fff;
    width: 85%;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
    border-radius: 5px;
}

.services-section .card img {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.services-section .card h3 {
    color: #000;
    text-align: center;
    margin-top: 5px;
    background: #171796;
    margin: 0;
    color: #fff;
    font-weight: 400;
    padding: 5px 0;
}

.services-section .card p {
    text-align: center;
    padding: 15px;
    font-weight: 400;
}

@media (max-width: 820px) {
    .services-section {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 25px;
    }

    .services-messege {
        padding: 0 15px;
    }
}

@media (max-width: 600px) {
    .services-section {
        grid-template-columns: 1fr;
    }
}

/* TESTIMONIALS SECTION */
#testimonials {
    padding: 25px 0;
}

#testimonials h1,
#testimonials p {
    text-align: center;
}

#testimonials h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

#testimonials p {
    margin: 25px;
    font-size: 1.2rem;
}

.testimonials-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.testimonials-section .card {
    background: #82afc2;
    width: 25%;
    margin: 25px;
    padding-top: 15px;
    border-radius: 5px;
}

.testimonials-section .card h3,
.testimonials-section .card h4 {
    text-align: center;
}

.testimonials-section .card h3 {
    color: #000;
    font-size: 2rem;
}

.testimonials-section .card h4 {
    font-size: 1rem;
    font-weight: 400;
}

.top-inner-card {
    background: transparent;
    height: 10vh;
}

.testimonials-section .card .inner-card {
    background: #171796;
    width: 85%;
    height: 47vh;
    margin: auto;
    padding: 5px 0;
    margin: 25px auto;
}

.testimonials-section .card .inner-card p {
    color: #fff;
    padding-top: 55px;
}

.quotes-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotes-img .quote {
    border: none;
    width: 25%;
    height: auto;
}

.quotes-img img {
    width: 45%;
    display: block;
    margin: -65px auto;
    border-radius: 50%;
    border: 4px solid #171796;
}

@media (max-width: 1024px) {
    .testimonials-section .card .inner-card {
        height: 60vh;
    }
}

@media (max-width: 820px) {
    .testimonials-section .card {
        width: 40%;
    }

    .testimonials-section .card .inner-card {
        height: 35vh;
    }
}

@media (max-width: 600px) {
    .testimonials-section {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .testimonials-section .card {
        width: 85%;
    }

    .testimonials-section .card .inner-card {
        height: 42vh;
    }
}

/* LOCATION SECTION */
#contact {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/geobg.png)center/cover fixed no-repeat;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact h1 {
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}

.location .contact-mode {
    text-align: center;
}

.location iframe {
    display: block;
    margin: 25px;
    border-radius: 10px;
}

.contact-form {
    width: 100%;
    max-width: 680px;
    margin: 100px auto;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    text-align: center;
}

.content h1 {
    letter-spacing: 1px;
}

.content p {
    color: #fff;
    margin-top: 15px;
}

.contact-mode {
    color: #fff;
    margin: 5px 0;
    font-size: 1.2rem;
}

.contact-mode i {
    color: #fff;
    padding-right: 8px;
}

.form {
    width: 100%;
    margin: 25px 0;
}

.top-form,
.middle-form,
.bottom-form {
    width: 100%;
    min-height: 65px;
    margin: 10px 0;
    overflow: hidden;
}

.form input[type="text"],
.form textarea {
    padding: 15px 5px;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;
    transition: all 0.2s ease;
}

.form input:focus,
.form textarea:focus {
    border-color: #4ca1af;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.125), 0 0 8px rgba(76,161,175,0.5);
}

.form .label {
    margin-bottom: 5px;
    text-transform: capitalize;
    color: #fff;
}

.top-form .inner-form {
    width: 29.9%;
    float: left;
    margin-right: 5%;
}

.top-form .inner-form:last-child {
    margin-right: 0;
}

.middle-form {
    clear: both;
}

.bottom-form textarea {
    height: 120px;
}

.form .btn {
    background: #171796;
    width: 200px;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    cursor: pointer;
}

::-webkit-input-placeholder {
    text-transform: capitalize;
}

::-moz-input-placeholder {
    text-transform: capitalize;
}

::-ms-input-placeholder {
    text-transform: capitalize;
}

@media (max-width: 1024px) {
    .location iframe {
        width: 95%;
        height: 70vh;
        margin-top: 15px;
    }

    .form {
        width: 85%;
        margin: 0 auto;
    }
}

@media (max-width: 820px) {
    #contact {
        padding-top: 25px;
    }

    .location iframe {
        width: 75vw;
        height: 25vh;
    }

    .contact-form {
        margin: 25px auto;
    }

    .contact-info {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .location iframe {
        height: 25vh;
    }

    .top-form .inner-form {
        width: 100%;
        margin: 5px 0;
    }
}
    
/* FOOTER SECTION */
footer {
    background: #f1f1f1;
    padding: 25px 0;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.business {
    width: 25%;
}

.icon {
    color: #171796;
    margin: 5px 0;
    font-size: 1.2rem;
    text-align: center;
}

.icon i {
    color: #171796;
    padding-right: 8px;
}

.business-hours {
    margin-top: 15px;
    display: flex;  
    justify-content: space-around;
    align-items: center;
}

.business-hours p {
    color:#171796;
    font-weight: 500;
    line-height: 25px;
}

.address-section .address {
    margin: 10px 0;
    color: #171796;
}

.links {
    margin-top: 15px;
}

.links p {
    color: #171796;
    line-height: 25px;
}

footer .follow {
    color: #171796;
    text-align: center;
}

footer .social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer  .social-icons .line {
    width: 35%;
    height: 1px;
    background: #171796;
}

footer .social-icons i {
    margin: 15px 0;
    color: #171796;
    font-size: 1.5rem;
    text-align: center;
}

footer .company-logo img {
    width: 5%;
    display: block;
    margin: 15px auto;
}

footer .company-logo p {
    text-align: center;
    color: #171796;
}

footer .terms {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

footer .terms p {
    color: #171796; 
    border-right: 1px solid #171796;
    padding: 0 25px;
    text-align: center;
}

footer .terms p:nth-child(3){
    border-right: none;
}

.designer {
    background: #82afc2;
    padding: 15px 0;
}

.designer p {
    text-align: center;
}

.designer a {
    color: #000;
}

@media (max-width: 820px) {
    .business {
        width: 30%;
    }

    footer .company-logo img {
        width: 10%;
    }
}

@Media (max-width: 600px) {
    .footer {
        flex-direction: column;
    }

    .business {
        width: 100%;
    }

    .address-section,
    .links-section {
        margin: 25px 0;
        text-align: center;
    }

    footer .company-logo img {
        width: 15%;
    }
}
